#button-container{
	float:left;
	width: 100%;
}

.button{
	float:left;
	width: 5em;
	color:white;
	background-color:black;
	border-right:3px solid white;

}

.job{
	float:left;
	width: 100%;
}

.name{
	float:left;
	width:5em;
}
.race{
	float:left;
	width: 5em;
	text-decoration:underline;
}
